body{
  margin: 0;
  padding:0;
}
header{
  position:fixed;
  background-color:#ff60a8;
  width:100%;
  display:flex;
  
}
h3{
  color:white;
  margin-left:10px;
}
i{
  margin-left:10px;
  margin-top:20px;
  color:white;
}
input{
  height:40px;
  margin-top:10px;
  margin-left:10px;
  border-radius:40px;
  background-color:ff60a8;
  border:1px solid white;
}
#profile{
  height:40px;
  width:40px;
  border:1px solid white;
  border-radius:30pc;
  margin-top:10px;
  margin-left:20px;
}
#manu{
  display:flex;
  width:350px;
  overflow:auto;
}
a{
  background-color:#eee;
  color:black;
  text-decoration:none;
  margin-left:12px;
  padding:5px;
  
}
#baner{
  height:200px;
  width:350px;
  margin-left:5px;
}
#items{
  height:609px;
  width:350px;
  overflow:auto;
  
}
.card{
  height:150px;
  width:150px;
  box-shadow:0px 0px 10px rgba(0,0,0,0.5);
  margin-left:20px;
  margin-top:20px;
  border-radius:10px;
  display:inline-block;
  overflow:hidden;
  transition:transform 0.3s;
}
.image{
  height:110px;
  width:150px;
  
}
.name{
  color:black;
  margin-top:100px;
  margin-left:10px;
  
  
}
.price{
  color:black;
  margin-left:50px;
  margin-top:100px;
}