
#shop{
  height:200px;
  width:250px;
  margin-left:50px;
  margin-top:50px;
  border-radius:200px;
  border:1px solid black;
}
h3{
  text-align-last: center;
  margin-top:100px;
  color:white;
}
i{
  margin-left:60px;
  position:absolute;
  margin-top:160px;
  text-align:center;
}

button{
  margin-top:150px;
  height:50px;
  width:250px;
  background-color:#00a5e3;
  color:white;
  margin-left:50px;
  border-radius:10px;
  font-weight:bold;
  padding:10px;
  border:none;

}